{% extends 'base.html' %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link" href="{{ url_for('agenda') }}">Agenda</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url_for('profile') }}">Perfil</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastro</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('especialidades') }}">Especialidades</a>
            <a class="dropdown-item" href="{{ url_for('listar_medicos') }}">Médicos</a>
            <a class="dropdown-item" href="{{ url_for('listar_salas') }}">Salas</a>
            <a class="dropdown-item" href="{{ url_for('listar_pacientes') }}">Pacientes</a>
        </div>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <header>
        <h1>Bem-vindo à sua Agenda</h1>
    </header>
    <main>
        <div class="d-flex justify-content-between mb-3">
            <button id="btn-calendario" class="btn btn-primary">Calendário</button>
            <button id="btn-lista" class="btn btn-secondary">Lista</button>
        </div>
        <div id="calendario-container">
            <div id='calendar'></div>
        </div>
        <div id="lista-container" class="d-none">
            <h2>Lista de Compromissos</h2>
            {% if agendamentos %}
                <ul class="list-group">
                    {% for agendamento in agendamentos %}
                        <li class="list-group-item">
                            {{ agendamento.data }} {{ agendamento.hora }} -
                            Sala: {{ agendamento.sala }}, Médico: {{ agendamento.medico }}, Paciente: {{ agendamento.paciente }}
                            <a href="{{ url_for('editar_agendamento', id=agendamento.id) }}" class="btn btn-sm btn-warning">Editar</a>
                            <form action="{{ url_for('excluir_agendamento', id=agendamento.id) }}" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-sm btn-danger">Excluir</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Você ainda não possui compromissos agendados.</p>
            {% endif %}
        </div>
    </main>
    <footer class="mt-5">
        <p>&copy; 2024. Todos os direitos reservados.</p>
    </footer>
</div>

<!-- Inclua jQuery e outras bibliotecas -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Inclua Moment.js -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>
<!-- Inclua FullCalendar -->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css'/>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/locale/pt-br.js"></script>
<!-- Inclua Bootstrap -->
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>

<script>
document.getElementById('btn-calendario').addEventListener('click', function() {
    document.getElementById('calendario-container').classList.remove('d-none');
    document.getElementById('lista-container').classList.add('d-none');
});
document.getElementById('btn-lista').addEventListener('click', function() {
    document.getElementById('calendario-container').classList.add('d-none');
    document.getElementById('lista-container').classList.remove('d-none');
});

// Inicializando o calendário
$(document).ready(function() {
    $('#calendar').fullCalendar({
        locale: 'pt',
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        selectable: true,
        selectHelper: true,
        select: function(start, end) {
            $('#cadastrarModal').modal('show');
            $('#data_inicio').val(moment(start).format('YYYY-MM-DD'));
            $('#hora_inicio').val(moment(start).format('HH:mm'));
        },
        events: [
            // Events pulled from the backend
        ],
        eventClick: function(calEvent, jsEvent, view) {
            var date = calEvent.start.format('YYYY-MM-DD');
            // Fetch event details via AJAX
            $.get('/agendamentos/' + date, function(data) {
                var modalBody = $('#agendamentosModal').find('.modal-body');
                modalBody.html('');
                if (data.length > 0) {
                    data.forEach(function(agendamento) {
                        modalBody.append(`<p>Médico: ${agendamento.medico}, Hora: ${agendamento.hora}, Sala: ${agendamento.sala}, Paciente: ${agendamento.paciente}</p>`);
                    });
                } else {
                    modalBody.append('<p>Nenhum agendamento.</p>');
                }
                $('#agendamentosModal').modal('show');
            });
        }
    });
});

$(document).ready(function() {
    $('#cadastrarModal').on('show.bs.modal', function (e) {
        $.get('{{ url_for("cadastrar_agendamento") }}', function (data) {
            $('#medico_id').html('<option value="" disabled selected>Selecione um médico</option>');
            $('#sala_id').html('<option value="" disabled selected>Selecione uma sala</option>');
            $('#paciente_id').html('<option value="" disabled selected>Selecione um paciente</option>');

            data.medicos.forEach(function (medico) {
                $('#medico_id').append(new Option(medico.nome, medico.id));
            });
            data.salas.forEach(function (sala) {
                $('#sala_id').append(new Option(sala.nome, sala.id));
            });
            data.pacientes.forEach(function (paciente) {
                $('#paciente_id').append(new Option(paciente.nome, paciente.id_paciente));
            });
        });
    });
});
</script>

<!-- Modal para cadastrar novo agendamento -->
<div class="modal fade" id="cadastrarModal" tabindex="-1" role="dialog" aria-labelledby="cadastrarModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cadastrarModalLabel">Cadastrar Novo Agendamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{{ url_for('cadastrar_agendamento') }}">
        <div class="modal-body">
          <div class="form-group">
            <label for="data_inicio">Data</label>
            <input type="date" class="form-control" id="data_inicio" name="data" required>
          </div>
          <div class="form-group">
            <label for="hora_inicio">Hora</label>
            <input type="time" class="form-control" id="hora_inicio" name="hora" required>
          </div>
          <div class="form-group">
            <label for="sala_id">Sala</label>
            <select class="form-control" id="sala_id" name="sala_id" required>
              <option value="" disabled selected>Selecione uma sala</option>
              {% for sala in salas %}
                <option value="{{ sala.id }}">{{ sala.nome }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="medico_id">Médico</label>
            <select class="form-control" id="medico_id" name="medico_id" required>
              <option value="" disabled selected>Selecione um médico</option>
              {% for medico in medicos %}
                <option value="{{ medico.id }}">{{ medico.nome }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="paciente_id">Paciente</label>
            <select class="form-control" id="paciente_id" name="paciente_id" required>
              <option value="" disabled selected>Selecione um paciente</option>
              {% for paciente in pacientes %}
                <option value="{{ paciente.id_paciente }}">{{ paciente.nome }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
