<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda Médica</title>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            {% if 'user_id' in session %}
                <a href="{{ url_for('agenda') }}">Minha Agenda</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </nav>
    </header>
    <section>
        {% block content %}{% endblock %}
    </section>
</body>
</html>
